doctype html
html
  head
    title= "My Project"
    link(rel='stylesheet', href='/dist/style.css')
    link(href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet")
  body
    block header
      header.top
      nav.nav
        ul.list
          .nav__section.nav__section--user
            if user
              li.nav__item.border
                a(href="/account")=`Hi, ${user.firstname} →`
              li.nav__item
                a(href='/logout') Logout  
            else
              li.nav__item.border
                a.login(href='/login') Log In 
              li.nav__item
                a(href='/register') Sign Up 
          .nav__section.nav__section--pages
              li.nav__item.title
                a.title(href="/") BLOG VOYAGE

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyD2PXpY9m7cUzNbyLzenp9w2Q436QKvYzI&libraries=places`)
      script(src="/dist/App.bundle.js")


