extends layout

block content
  .inner#tripForm
    .single__hero
      #slide_cont
      br
      if trip.photo
        ul
          each photo in trip.photo
            li.tag
              img.mySlides(src=`/uploads/${photo}`)

      button.sliderButton.display-left ❮
      button.sliderButton.display-right ❯
      h2= trip.name
      p= trip.description
                   
      #map

block header-scripts
  script var trip = '!{JSON.stringify(trip)}';




