mixin registerForm()
		form.form(action="/register" method="POST" enctype="multipart/form-data")
			h2.login You must be new. Sign up here.
			label(for="name") First Name
			input(type="text" name="firstname" required)
			br
			br
			label(for="name") Last Name
			input(type="text" name="lastname" required)
			br
			br
			label(for="photo") Photo
			input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
			br 
			br 
			label(for="email") Email
			input(type="email" name="email" required)
			br
			br
			label(for="password") Password
			input(type="password" name="password")
			br
			br
			label(for="password-confirm") Confirm Password
			input(type="password" name="password-confirm")
			br 
			br
			input.button(type="submit" value="Sign Up")
